// Import Compass Mixins
// --------------------------------------------
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/background-clip";
@import "compass/css3/background-size";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";
@import "compass/css3/opacity";
@import "compass/css3/images";
@import "compass/css3/box";

// Import Variables
// --------------------------------------------
@import "partials/variables";

// Import Bootstrap
// --------------------------------------------
@import "sass-bootstrap/lib/bootstrap";

// App Styling that can be overridden
// --------------------------------------------
@import "partials/sticky-footer";

body {
  background: $bgBody;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.browsehappy {
    margin: 0.2em 0;
    background: darken($bgBody, 10%);
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid $lightGray;
}

/* Make the masthead heading the same height as the navigation */
.header h4 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid $lightGray;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid $lightGray;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

// Import App Styling
@import "partials/home";

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
      max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0;
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
      margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
      border-bottom: 0;
  }
}
