// Import Compass Mixins
// --------------------------------------------
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/background-clip";
@import "compass/css3/background-size";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";
@import "compass/css3/opacity";
@import "compass/css3/images";
@import "compass/css3/box";
@import "compass/css3/filter";

// Import Variables
// --------------------------------------------
@import "partials/variables";

// Import Bootstrap
// --------------------------------------------
@import "sass-bootstrap/lib/bootstrap";

// App Styling that can be overridden
// --------------------------------------------
@import "partials/sticky-footer";

html, body, #realm {
  background: $bgBody;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $darkGray;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6, p, span, a, label, i {
  @include opacity(0);
}

.wf-inactive,
.wf-active {
  h1, h2, h3, h4, h5, h6, p, span, a, label, i {
    @include opacity(1);
    @include transition(all 0.7s);
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: darken($bgBody, 10%);
  color: #000;
  padding: 0.2em 0;
}


// ## Buttons
.btn {
  line-height: 1;

  @include transition(all 0.7s);

  .fa {
    @include transition(all 0.7s);
  }
}

.btn-transparent {
  background: none;
  border: none;

  &:hover, &.active {
    @include box-shadow(none);
  }
}

.btn-xl {
  border-style: solid;
  border-width: 2px;
  font-size: 24px;
  padding: 15px 20px;
}

.btn-inverse {
  background: none;
  border-color: white;
  color: white;

  &:hover {
    background: rgba(255,255,255,0.1);
    color: $darkBlue;
    border-color: $darkBlue;
  }
}

// ## Panels 
.panel.panel-default {
  .panel-heading {
    .panel-title {
      color: $gray;
    }
  }
}

// ## Branding
.brand {
  font-family: "Oleo Script", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

// Import App Styling
@import "partials/about";
@import "partials/auth";
@import "partials/browse";
@import "partials/browse.detail";
@import "partials/home";
@import "partials/layout";
@import "partials/particles";
@import "partials/profile";
@import "partials/zocial";
