#about {
  .content {
    color: white;

    a {
      color: white;
      text-decoration: underline;
      font-weight: bold;
    }

    .github {
      color: white;
      font-size: 60px;
      text-decoration: none;
    }
  }
}