#auth {
  .login-form {

    h3 {
      font-size: 24px;
      text-align: center;
      margin: 0;
      color: white;
    }

    .authSelect {
      text-align: center;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .btn {
        
        .fa {
          position: relative;
          top: -1px;
          background: white;
          color: $blue;
          line-height: 40px;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          padding-left: 1px;

          @include border-radius(999em);
        }

        &:hover {
          .fa {
            background: $darkBlue;
            color: $lightBlue;
          }
        }
      }

      a.disabled {
        cursor: no-drop;
        @include opacity(0.3);
      }
    }
  }
}