// Colors
$lightestGray: #F8F7F4;
$lighterGray: #F3F1ED;
$lightGray: #E9E7E2;
$gray: #91908D;
$darkGray: #555451;
$darkerGray: #4B4A47;
$blue: #348eda;


// Color Assignments  
$bgBody: $lighterGray;
$bgDetail: $lightestGray;
$bgDrawer: $darkerGray;
$bgHeader: white;
$bgList: $lighterGray;
$bgListHeader: #edece8;
$bgListSelected: $lightGray;



// Footer Height (for Sticky Footer)
$footerHeight: 60px;
