<div class="content">
  <p class="lead">Built at <a href="http://www.hackreactor.com">Hack Reactor</a> by <a href="http://www.github.com/dremonkey">@dremonkey</a> and <a href="http://www.github.com/leebyp">@leebyp</a>.</p>
  <p class="lead">
    Angelink provides an easy way to sift through all the available job postings on AngelList to find the ones catered to your skills, so you don't have to.
  </p>
  <p class="lead">
    Architected using Node/ExpressJS and Neo4j on the back, AngularJS and CSS3 on the front.
  </p>
  <a class="github" href="https://github.com/angelink/angelink" target="_blank"><i class="fa fa-github"></i></a>
</div>

<div class="footer">
  <a ui-sref="public.home">Home</a>
</div>