<div class="container">
  <div class="jumbotron">
    <h1>Particle Angular Seed</h1>
    <p class="lead">
      <img src="images/yeoman.png" />
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
  </div>

  <div class="row marketing">
    <h3>Features</h3>

    <h4>AngularJS</h4>
    <p><a href="http://angularjs.org/">Amazing clientside framework</a> highly suited for web application development.</p>

    <h4>No jQuery</h4>
    <p>Trying to avoid it like the plague. Angular and <a href="http://lodash.com/">Lo-dash</a> provides basically everything you need anyway.</p>

    <h4>Bootstrap CSS</h4>
    <p>CSS framework making it easy to create good looking apps. Uses v3.0.2. Does not use the bootstrap javascript because that requires a dependency on jQuery. Instead uses <a href="http://angular-ui.github.io/bootstrap/">Angular UI Bootstrap</a> for a pure Angular implementation. Bootstrap SASS files can be found in the assets/styles directory.</p>

    <h4>Angular UI Router</h4>
    <p><a href="https://github.com/angular-ui/ui-router">Improves on Angular routing</a>.</p>

    <h4>Restangular</h4>
    <p><a href="https://github.com/mgonto/restangular">Improves on Angular resources</a> to make it easier to have Angular interact with standard REST APIs.</p>

    <h4>Grunt</h4>
    <p>Workhorse that takes the pain out of getting your app up and running and ready for production. Among other things I use <a href="https://github.com/stephenplusplus/grunt-bower-install">grunt-bower-install</a> to make sure all my bower components are included automagically, <a href="https://github.com/ericclemmons/grunt-angular-templates">grunt-angular-templates</a> to precompile all angular templates, <a href="https://github.com/btford/grunt-ngmin">grunt-ngmin</a> so that I can be lazy and not have to use the min-safe AngularJS syntax, and <a href="https://github.com/yeoman/grunt-usemin">grunt-usemin</a> to concat/minify etc.</p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript. @TODO Need to make better use of this.</p>
  </div>
</div>
